
<div class="list-group">
  <a href="/user/dashboard" class="list-group-item bg-dark text-light list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between ">
      <h6 class="mb-1"><i class="bi bi-person-circle "></i> Hesab Haqqında</h6>
    </div>
  </a>

  <a href="/user/dashboard/ships" class="list-group-item bg-dark text-light list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between ">
      <h6 class="mb-1"><i class="bi bi-bag-check-fill"></i> Alışlar</h6>
    </div>
  </a>

    <a href="/check" target="_blank" class="list-group-item bg-dark text-light list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between ">
      <h6 class="mb-1"><i class="bi bi-cash-stack"></i> Balansı artır</h6>
    </div>
  </a>

    <a href="/user/logout" class="list-group-item bg-dark text-light list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between ">
      <h6 class="mb-1"><i class="bi bi-box-arrow-left"></i> Çıxış Et</h6>
    </div>
  </a>


</div>
