




<div class="row">
  <div class="col-sm-10">





    <h3 class="text-light"><b>Tövsiyə Edilir <i class="bi bi-star-fill"></i></b></h3>


    <div class="row">


<div class="col col-6 col-md-4 col-lg-2">
<a href="https://freeshops.com.tr/product/6447f875c56e5416a2023ee9" class="text-decoration-none">
    <div class="card bg-dark text-light zoom-in">
      <img src="https://freeshops.com.tr/img/banner/seo-watch-free-link-preview.jpg" alt="bein connect" class="card-img-top product-cover" style="border-radius: 3px">
      <h6 class="card-title" style="margin-left: 5px;margin-right:5px"> Netflix 1 Ay Üyelik</h6>

      <ul class="list-group list-group-flash bg-dark text-light">
        <li class="list-group-item bg-dark text-light">20 ₺</li>
      </ul>
    </div>
</a>
  </div>
<div class="col col-6 col-md-4 col-lg-2">

<a href="https://freeshops.com.tr/product/6447f48edbe296268c89c235" class="text-decoration-none">
    <div class="card bg-dark text-light zoom-in">
      <img src="https://freeshops.com.tr/img/banner/acastro_201110_4286_spotify_0001.jpg" alt="bein connect" class="card-img-top product-cover" style="border-radius: 3px">
      <h6 class="card-title" style="margin-left: 5px;margin-right:5px">Spotify Premium 1 Ay</h6>

      <ul class="list-group list-group-flash bg-dark text-light">
        <li class="list-group-item bg-dark text-light">5 ₺</li>
      </ul>
    </div>
</a>
</div>
<div class="col col-6 col-md-4 col-lg-2">
<a href="https://freeshops.com.tr/product/6447ee8812bdadc71e7528d7" class="text-decoration-none">
    <div class="card bg-dark text-light zoom-in">
      <img src="https://freeshops.com.tr/img/banner/5dcadfd13afd372dea55acf8.webp" alt="bein connect" class="card-img-top product-cover" style="border-radius: 3px">
      <h6 class="card-title" style="margin-left: 5px;margin-right:5px">Disney+ Aylık</h6>

      <ul class="list-group list-group-flash bg-dark text-light">
        <li class="list-group-item bg-dark text-light">5 ₺</li>
      </ul>
    </div>
</a>
  </div>

<div class="col col-6 col-md-4 col-lg-2">
<a href="https://freeshops.com.tr/product/644e41d1e2431e87b43562dd" class="text-decoration-none">
    <div class="card bg-dark text-light zoom-in">
      <img src="https://freeshops.com.tr/img/banner/dc.png" alt="bein connect" class="card-img-top product-cover" style="border-radius: 3px">
      <h6 class="card-title" style="margin-left: 5px;margin-right:5px">3 Aylık Boostlu Nitro</h6>

      <ul class="list-group list-group-flash bg-dark text-light">
        <li class="list-group-item bg-dark text-light">25 ₺</li>
      </ul>
    </div>
</a>
  </div>
<div class="col col-6 col-md-4 col-lg-2">
</div>
<div class="col col-6 col-md-4 col-lg-2">
</div>


<div class="col-sm-12">
    <h3 class="text-light"><b>Kategoriyalar <i class="bi bi-folder"></i></b></h3>

</div>

    <div class="col-sm-4 ">
      
<div class="card category bg-dark text-white">

    <a href="/category/netflix">
  <img  style="filter: brightness(50%)" class="card-img" src="/img/static/netflix.jpg" alt="Card image">
  <div class="centered">
    <strong>Netflix</strong>
  </div>

  </a>

 
</div>
</div>

    <div class="col-sm-4">
<div class="card category bg-dark text-white">

    <a href="/category/spotify">
  <img  style="filter: brightness(50%)" class="card-img" src="/img/static/spotify.webp" alt="Card image">
  <div class="centered">
    <strong>Spotify</strong>
  </div>

  </a>

 
</div>
</div>


    <div class="col-sm-4">
<div class="card category bg-dark text-white">

    <a href="/category/blu%20tv">
  <img  style="filter: brightness(50%)" class="card-img" src="/img/static/blutv.webp" alt="Card image">
  <div class="centered">
    <strong>BluTV</strong>
  </div>

  </a>

 
</div>
</div>


    <div class="col-sm-4">
<div class="card category bg-dark text-white">

    <a href="/category/exxen">
  <img  style="filter: brightness(50%)" class="card-img" src="/img/static/exxen.jpg" alt="Card image">
  <div class="centered">
    <strong>Exxen</strong>
  </div>

  </a>

 
</div>
</div>

    <div class="col-sm-4">
<div class="card category bg-dark text-white">

    <a href="/category/disney">
  <img  style="filter: brightness(50%)" class="card-img" src="/img/static/disneyplus.jpg" alt="Card image">
  <div class="centered">
    <strong>Disney+</strong>
  </div>

  </a>

 
</div>
</div>



    <div class="col-sm-4">
<div class="card category bg-dark text-white">

    <a href="/category/all">
  <img  style="filter: brightness(50%)" class="card-img" src="/img/static/discord.webp" alt="Card image">
  <div class="centered">
    <strong>Bütün</strong>
  </div>

  </a>

 
</div>
</div>

</div>

  </div>
  {{!-- <div class="col-sm-10" >

<div class="card rounded bg-dark text-light">
  <h5 class="card-header">Sohbet <a href="/chat" target="_top"><i class="bi bi-window-fullscreen"></i></a></h5>
  <div class="card-body">
    <p class="card-text">


    <iframe src="/chat" width="100%"  height="350" class="rounded" style="border:2px solid #111111;border-radius:5px!important">
</iframe>

    </p>

  </div>
</div>



  
  
  
  </div> --}}




  
</div>

<style>
  .card-img{
    height:140px;
  
    object-fit: cover;
  }

  .product-cover{
    height: 150px;
      object-fit: cover;

  }
  .col{
    margin-top:7px
  }

</style>



